btn {
    cursor: pointer;
    border-radius: 30px;
    line-height: 60px;
    height: 60px;
    width: 60px;
    background-color: #3399CC;
    text-align: center;
    user-select: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    color:#FFF;
    border:solid 2px #66BBEE;
    font-size:14px;
    margin:0px 0 0 0px;
    position: absolute;
}
